# Python
__pycache__/
*.py[cod]
.env
.venv/
*.sqlite3
urls.db

# Node/React
node_modules/
build/
dist/
*.log
*.cache
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# Jupyter
.ipynb_checkpoints/

# Misc
*.swp
*.swo
*.bak
*.tmp
*.orig
*.lock
